@page
@model DownloadPersonalDataModel
@{
    ViewData["Name"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Name"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
